body {
  text-align: center;
  padding: 150px;
}
h1 {
  font-size: 50px;
}
body {
  font: 20px Helvetica, sans-serif;
  color: #333;
}
article {
  display: block;
  text-align: center;
  width: 650px;
  margin: 0 auto;
}
input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
input[type=password] {
  width: 75%;
  font-size: 24px;
}
input[type=submit] {
  cursor: pointer;
  width: 75%;
}
input[type=submit]:hover {
  background-color: #d9d9d9;
}
