<!DOCTYPE html>
<html>
<head>
  <title>Luks-Web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='unlocked.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
  <article>
      <h1>Succesfully decrypted</h1>
      <p>Do you want to shutdown this service?</p>
      <div>
        <script>
        function reqListener () {
          const response = JSON.parse(this.responseText);
          location.reload();
        }

        function killServer() {
          var target = '/kill';
          var xhr = new XMLHttpRequest();
          xhr.addEventListener("load", reqListener);
          xhr.open('GET', target);
          xhr.send();
        }
        </script>
        <button type="button" onclick="killServer()">Shutdown</button>
      </div>
  </article>
</body>
</html>
